/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
#root, #__next {
    isolation: isolate;
}

/* Custom font */

@font-face {
  font-family: 'norse';
  src: url('../assets/fonts/Norse-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;

}
  
/* Sign-up form styling */

:root {
    --main-font: Helvetica, sans-serif;
    --left-panel-width: 35vw;
    --panels-height: 100vh;
    --left-panel-padding: 10px;
    --left-panel-band-height: 15%;
    --left-panel-band-height-position: 20%;

    --right-panel-background-color: #F7F7F7;
    --right-panel-top-height: calc(var(--left-panel-band-height) + var(--left-panel-band-height-position));
    --right-panel-form-height: 40vh;
    --right-panel-bottom-height: calc(100vh - (var(--right-panel-top-height) + var(--right-panel-form-height)));
}

body {
    display: flex;
}

/* Left panel styling */

.left-panel {
    width: var(--left-panel-width);
    height: var(--panels-height);
    position: relative;
}

.left-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.credit {
    color: rgba(100%, 100%, 100%, 0.7);
    position: absolute;
    width: 100%;
    padding-bottom: var(--left-panel-padding);
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 12px;
    font-family: var(--main-font);
}


.band {
    display: flex;
    position: absolute;
    top: var(--left-panel-band-height-position);
    width: 100%;
    height: var(--left-panel-band-height);
    justify-content: center;
    background-color: rgba(0%, 0%, 0%, 0.4);
    padding: var(--left-panel-padding) 0;
    min-height: 60px;
}

.band .text {
    display: flex;
    color: white;
    font-family: "norse";
    align-items: center;
    font-size: calc(2rem + 5vw);
}

.right-panel {
    --right-panel-width: calc(100vw - var(--left-panel-width));
    width: var(--right-panel-width);
    height: var(--panels-height);
}

.right-panel .top {
    width: 100%;
    height: var(--right-panel-top-height);
    background-color: var(--right-panel-background-color);
}

.right-panel .form {
    width: 100%;
    height: var(--right-panel-form-height);
}

.right-panel .bottom {
    width: 100%;
    height: var(--right-panel-bottom-height);
    background-color: var(--right-panel-background-color);
}